node_modules
build
test
testing
src/**.js
.idea/*
.npm/
coverage
.nyc_output
*.log
venv/
yarn.lock

*~
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
npm-debug.log*
.env
$RECYCLE.BIN/

tmp/
temp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
